h1{
    text-align: center
}
.P1{
    text-align: center;
}
.img1{
    height: 250px;
    
}
.img2{
    height: 250px;
    
    padding-top: 25px;
}
.img3{
    height: 250px;
}
.h2{
    text-align: center;
}
.div4{
    text-align: center;
}
li{
    display: inline;
}
